<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.dangdang.com/schema/ddframe/reg http://www.dangdang.com/schema/ddframe/reg/reg.xsd
       http://www.dangdang.com/schema/ddframe/job http://www.dangdang.com/schema/ddframe/job/job.xsd">

    <!-- 消息生产者 -->
    <bean id="defaultMQProducer" class="com.alibaba.rocketmq.client.producer.DefaultMQProducer" scope="singleton" init-method="start" destroy-method="shutdown">
        <!-- Name Server地址列表，多个用分号隔开 -->
        <property name="namesrvAddr" value="${mq.namesrv.addrs}"/>
        <!-- 客户端实例名 -->
        <property name="instanceName" value="producer"/>

        <!-- 客户端IP -->
        <!-- <property name="clientIP" value="${rocketmq.clientIP}" /> -->
        <!-- 通信层异步回调线程数 -->
        <!-- <property name="clientCallbackExecutorThreads" value="${rocketmq.clientCallbackExecutorThreads" /> -->
        <!-- 轮询Name Server间隔时间，单位毫秒 -->
        <!-- <property name="pollNameServerInteval" value="${rocketmq.pollNameServerInteval}" /> -->
        <!-- 向Broker发送心跳间隔时间，单位毫秒  -->
        <!-- <property name="heartbeatBrokerInterval" value="${rocketmq.heartbeatBrokerInterval}" /> -->
        <!-- 持久化Consumer消费进度间隔时间，单位毫秒 -->
        <!-- <property name="persistConsumerOffsetInterval" value="${rocketmq.persistConsumerOffsetInterval}" /> -->

        <!-- Producer组名，多个Producer如果属于一 个应用，发送同样的消息，则应该将它们 归为同一组 -->
        <property name="producerGroup" value="orderSrvProducerGroup"/>
        <!-- 发送消息超时时间，单位毫秒 -->
        <!-- <property name="sendMsgTimeout" value="${rocketmq.producer.sendMsgTimeout}" />-->

    </bean>

    <bean id="rocketMQMessageProducerServiceImpl" class="com.lawu.eshop.mq.message.impl.RocketMQMessageProducerServiceImpl" >
        <property name="defaultMQProducer" ref="defaultMQProducer" />
    </bean>

    <!-- 消息消费者 -->
    <bean id="defaultMQConsumerFactory" class="com.lawu.eshop.mq.message.MQConsumerFactory" init-method="createDeviceDatagramConsumer" destroy-method="shutdown" >
        <!-- Name Server地址列表，多个用分号隔开 -->
        <property name="namesrvAddr" value="${mq.namesrv.addrs}"/>
        <!-- 客户端实例名 -->
        <property name="instanceName" value="consumer"/>

        <property name="consumerGroup" value="orderSrvConsumerGroup"/>
        <!-- 批量拉消息，一次最多拉多少条， 默认设置为32 -->
        <property name="pullBatchSize" value="35"/>
        <!-- 批量消费，一次消费多少条消息， 默认设置为1 -->
        <property name="consumeMessageBatchMaxSize" value="5"/>
        <property name="consumeThreadMin" value="${mq.consume.thread.min}" />
        <property name="consumeThreadMax" value="${mq.consume.thread.max}" />
        <property name="messageListenerConcurrently" ref="messageConsumerListener" />
		
    </bean>

    <bean id="messageConsumerListener" class="com.lawu.eshop.order.srv.mq.MessageConsumerListener" />

    <!--配置作业注册中心 -->
    <reg:zookeeper id="regCenter" server-lists="${zookeeper.servers}" namespace="order-job"/>

    <!-- 配置作业-->
    <job:simple id="transactionScheduledJob" description="补偿事务" class="com.lawu.eshop.compensating.transaction.job.TransactionScheduledJob" registry-center-ref="regCenter" cron="0/10 * * * * ? *" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoCommentOrderJob" description="自动评论购物订单" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoCommentOrderJob" registry-center-ref="regCenter" cron="5 0/1 * * * ?	" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoCancelOrderJob" description="自动取消未付款购物订单" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoCancelOrderJob" registry-center-ref="regCenter" cron="10 0/1 * * * ?" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoReceiptJob" description="自动收货" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoReceiptJob" registry-center-ref="regCenter" cron="3/10 * * * * ? *" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoRemindShipmentsJob" description="提醒商家发货" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoRemindShipmentsJob" registry-center-ref="regCenter" cron="0 0 0 1/1 * ? *" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoToBeConfirmedForRefundJob" description="家申请退款，退款状态为待商家确认，商家超时操作，自动退款给买家" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoToBeConfirmedForRefundJob" registry-center-ref="regCenter" cron="15 0/1 * * * ?" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoRemindToBeConfirmedForRefundJob" description="买家申请退款，退款状态为待商家确认，商家超时操作，提醒商家操作" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoRemindToBeConfirmedForRefundJob" registry-center-ref="regCenter" cron="15 0/1 * * * ?" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoToBeConfirmedForReturnRefundJob" description="买家申请退款，退款状态为待商家确认，商家超时操作，自动退款给买家" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoToBeConfirmedForReturnRefundJob" registry-center-ref="regCenter" cron="20 0/1 * * * ?" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundRefundFailedJob" description="商家拒绝退款，买家超时操作，自动撤销退款申请" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundRefundFailedJob" registry-center-ref="regCenter" cron="25 0/1 * * * ?" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundFillReturnAddressJob" description="商家填写退货地址，商家超时操作，自动退款" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundFillReturnAddressJob" registry-center-ref="regCenter" cron="30 0/1 * * * ?" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundToBeRefundJob" description="待商家退款，商家超时操作，自动退款" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundToBeRefundJob" registry-center-ref="regCenter" cron="6/10 * * * * ? *" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundToBeReturnJob" description="买家填写退货物流信息，买家超时操作，自动取消退款申请" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundToBeReturnJob" registry-center-ref="regCenter" cron="35 0/1 * * * ?" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoPaymentsToMerchantJob" description="买家收货之后超过退款时间，自动打款给商家" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoPaymentsToMerchantJob" registry-center-ref="regCenter" cron="40 0/1 * * * ?" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoRemindToBeCancelledOrderJob" description="自动提醒即将取消的未付款购物订单" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoRemindToBeCancelledOrderJob" registry-center-ref="regCenter" cron="45 0/1 * * * ?" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoRemindToBeConfirmedForRefundJob" description="家申请退款，退款状态为待商家确认，商家超时操作，自动提醒买家" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoRemindToBeConfirmedForRefundJob" registry-center-ref="regCenter" cron="50 0/1 * * * ?" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoRemindToBeConfirmedForReturnRefundJob" description="买家申请退款，退款状态为待商家确认，商家超时操作，提醒商家操作" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoRemindToBeConfirmedForReturnRefundJob" registry-center-ref="regCenter" cron="55 0/1 * * * ?" sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
 
	<!-- Lock service -->
	<bean id="lockServiceImpl" class="com.lawu.eshop.synchronization.lock.impl.LockServiceImpl" />
	<bean id="redissonConfiguration" class="com.lawu.eshop.synchronization.lock.config.RedissonConfiguration" />
</beans>