<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:reg="http://www.dangdang.com/schema/ddframe/reg" xmlns:job="http://www.dangdang.com/schema/ddframe/job"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.dangdang.com/schema/ddframe/reg http://www.dangdang.com/schema/ddframe/reg/reg.xsd
       http://www.dangdang.com/schema/ddframe/job http://www.dangdang.com/schema/ddframe/job/job.xsd">


	<!--配置作业注册中心 -->
	<reg:zookeeper id="regCenter" server-lists="${zookeeper.servers}" namespace="jobs-job" />

	<!-- 配置作业 -->
	<job:simple id="adViewJob" description="广告浏览次数" class="com.lawu.eshop.jobs.impl.ad.AdViewJob" registry-center-ref="regCenter" cron="0/10 * * * * ?"
				sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}"/>
	<job:simple id="productOrderCommissionJob" description="商品订单提成" class="com.lawu.eshop.jobs.impl.order.ProductOrderCommissionJob" registry-center-ref="regCenter" cron="0/10 * * * * ?"
				sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
	<job:simple id="payOrderCommissionJob" description="买单提成" class="com.lawu.eshop.jobs.impl.payorder.PayOrderCommissionJob" registry-center-ref="regCenter" cron="0/10 * * * * ?"
				sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}"  />
	<job:simple id="clickAdCommissionJob" description="点击广告提成" class="com.lawu.eshop.jobs.impl.ad.ClickAdCommissionJob" registry-center-ref="regCenter" cron="0/10 * * * * ?"
				sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
	<job:simple id="storeStatisticsJob" description="门店人均消费、平均得分、好评率统计" class="com.lawu.eshop.jobs.impl.store.StoreStatisticsJob" registry-center-ref="regCenter" cron="0 0 0 1/1 * ?"
				sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
	<job:simple id="productAverageDailySalesJob" description="商品平均日销量" class="com.lawu.eshop.jobs.impl.product.ProductAverageDailySalesJob" registry-center-ref="regCenter" cron="0 0 0 1/1 * ?"
				sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
	<job:simple id="rongYunDownLoadMessageJob" description="下载融云历史消息" class="com.lawu.eshop.jobs.impl.rongyun.RongYunDownLoadMessageJob" registry-center-ref="regCenter" cron="0 0 0 1/1 * ?"
				sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
	
	<job:simple id="withdrawCashDailyReportJob" description="提现日统计" class="com.lawu.eshop.jobs.impl.withdraw.WithdrawCashDailyReportJob" registry-center-ref="regCenter" cron="0/10 * * * * ?"
				sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
	<job:simple id="withdrawCashMonthReportJob" description="提现月统计" class="com.lawu.eshop.jobs.impl.withdraw.WithdrawCashMonthReportJob" registry-center-ref="regCenter" cron="0/10 * * * * ?"
				harding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
	<job:simple id="userRegDailyJob" description="用户注册日统计" class="com.lawu.eshop.jobs.impl.user.UserRegDailyJob" registry-center-ref="regCenter" cron="0 0 0 1/1 * ?"
				sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
	<job:simple id="userRegMonthJob" description="用户注册月统计" class="com.lawu.eshop.jobs.impl.user.UserRegMonthJob" registry-center-ref="regCenter" cron="0 0 0 0 1/1 ?"
				sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
	<job:simple id="userRegAreaJob" description="用户注册区域统计" class="com.lawu.eshop.jobs.impl.user.UserRegAreaJob" registry-center-ref="regCenter" cron="0 0 0 1/1 * ?"
				sharding-total-count="1" overwrite="true" disabled="${dangdang.ddframe.job.disabled}" />
				
	<!-- Lock service -->
	<bean id="lockServiceImpl" class="com.lawu.eshop.synchronization.lock.impl.LockServiceImpl" />
	<bean id="redissonConfiguration" class="com.lawu.eshop.synchronization.lock.config.RedissonConfiguration" />
</beans>