<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


       <mvc:interceptors>
              <!--身份验证的拦截器-->
              <bean id="authorizationInterceptor" class="com.lawu.eshop.authorization.interceptor.AuthorizationInterceptor">
                     <!--验证信息存储的Http头-->
                     <property name="httpHeaderName" value="authorization" />
                     <!--验证信息通用前缀，例如Bearer-->
                     <property name="httpHeaderPrefix" value="" />
                     <!--验证失败时的错误信息-->
                     <property name="unauthorizedErrorMessage" value="登录失效，请重新登录" />
                     <!--管理验证信息的bean-->
                     <property name="manager" ref="tokenManager" />
                     <!--debug模式-->
                     <property name="debug" value="false" />
                     <property name="testNum" value="M000001"/>
                     <property name="testId" value="1"/>
                     <property name="testAccount" value="test" />
              </bean>

              <!--访问拦截器-->
              <bean id="userVisitInterceptor" class="com.lawu.eshop.framework.web.interceptor.UserVisitInterceptor" />
       </mvc:interceptors>

       <!--管理验证信息的bean-->
       <bean id="tokenManager" class="com.lawu.eshop.authorization.manager.impl.CacheTokenManager">
              <!--Token失效时间-->
              <property name="tokenExpireSeconds" value="86400" />
              <property name="tokenCacheService" ref="tokenCacheService" />
              <property name="singleTokenWithUser" value="${eshop.single.login}" />
       </bean>

       <bean id="tokenCacheService" class="com.lawu.eshop.authorization.impl.RedisTokenCacheServiceImpl">
              <property name="userLoginType" value="MEMBER" />
       </bean>

       <import resource="spring-event.xml" />
       <import resource="concurrent-queue-spring.xml" />
</beans>