<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>API 更新文档</title>
</head>
<body>
	<table cellpadding="1" cellspacing="1" border="1" style="width:100%;text-align:center;line-height:30px;">
		<thead>
			<tr>
				<th>审核日期</th>
				<th>审核人</th>
				<th>接口名称</th>
				<th>接口方法名称</th>
				<th>路径</th>
				<th>请求方法</th>
				<th>接口方法介绍</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vo : ${voList}">
				<td th:text="${#dates.format(vo.date, 'yyyy-MM-dd')}"></td>
				<td th:text="${vo.reviewer}"></td>
				<td th:text="${vo.apiName}"></td>
				<td th:text="${vo.name}"></td>
				<td th:text="${vo.path}"></td>
				<td th:text="${vo.httpMethod}"></td>
				<td th:text="${vo.notes}"></td>
		    </tr>
		</tbody>
	</table>
</body>
</html>