<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <!-- 采用SpringMVC自带的JSON转换工具，支持@ResponseBody注解 -->
       <bean
               class=" org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
              <!-- 自定义返回值拦截 -->
              <property name="responseBodyAdvice">
                     <list>
                            <bean class="com.lawu.eshop.framework.web.PageResponseBodyAdvice"></bean>
                     </list>
              </property>
       </bean>

</beans>