<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lawu.eshop.property.srv.mapper.extend.TransactionDetailExtendDOMapper" >
    
    <resultMap id="TotalSalesResultMap" type="com.lawu.eshop.property.srv.domain.extend.TotalSalesDO">
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="transaction_type" jdbcType="TINYINT" property="transactionType" />
    </resultMap>
    
    <resultMap id="UserIncomeExpenditureResultMap" type="com.lawu.eshop.property.srv.domain.extend.UserIncomeExpenditureDO">
        <result column="user_num" jdbcType="VARCHAR" property="userNum" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="direction" jdbcType="TINYINT" property="direction" />
    </resultMap>
    
    <!-- 根据时间获取获取买单和订单的收入 -->
	<select id="selectTotalSales"  resultMap="TotalSalesResultMap" parameterType="com.lawu.eshop.property.srv.domain.extend.TotalSalesQueryExample">
		SELECT sum(amount) as amount, transaction_type FROM transaction_detail 
		WHERE transaction_type in (100, 101)
		AND gmt_create BETWEEN #{start} AND #{end}
		GROUP BY transaction_type
	</select>
	
	<!-- 用户收入统计 -->
    <select id="selectUserIncomeExpenditure"  resultMap="UserIncomeExpenditureResultMap" parameterType="com.lawu.eshop.property.srv.domain.extend.UserIncomeExpenditureExample">
		SELECT user_num, sum(amount) AS amount, direction FROM transaction_detail 
		WHERE AND gmt_create BETWEEN #{start} and #{end}
		GROUP BY user_num, direction
    </select>
    
    <resultMap id="BaseResultMap" type="com.lawu.eshop.property.srv.domain.extend.ReportAdEarningsPointView">
	    <result column="user_totle_point" jdbcType="DECIMAL" property="userTotalPoint" />
	    <result column="love_totle_point" jdbcType="DECIMAL" property="loveTotalPoint" />
	</resultMap>
  
 	<select id="getReportAdEarningsPoint"  resultMap="BaseResultMap" parameterType="com.lawu.eshop.property.srv.domain.extend.ReportAdEarningsPointView">
	    select
	    	sum(point) as user_totle_point
	    from transaction_detail
	    where
	      	transaction_type =#{pointType,jdbcType=TINYINT}
	      	and biz_id=#{bizId,jdbcType=BIGINT}
	 </select>
	 
	 
	 <select id="getReportAdEarningsLovePoint"  resultMap="BaseResultMap" parameterType="com.lawu.eshop.property.srv.domain.extend.ReportAdEarningsPointView">
	    select
	    	sum(amount) as love_totle_point
	    from love_detail
	    where
	      	love_type =#{pointType,jdbcType=TINYINT}
	      	and biz_id=#{bizId,jdbcType=BIGINT}
	 </select>
	 
	 <!-- 用户广告总收益统计   包括点广告  红包   广告提成  抢赞  -->
	 <select id="getUserPointByBzId"  resultMap="BaseResultMap" parameterType="com.lawu.eshop.property.srv.domain.extend.ReportAdEarningsPointView">
	    select
	    	sum(point) as user_totle_point
	    from transaction_detail
	    where
	      	transaction_type in (2,3,5,16)
	      	and biz_id=#{bizId,jdbcType=BIGINT}
	 </select>
	 
	 
	 <select id="getLovePointByBzId"  resultMap="BaseResultMap" parameterType="com.lawu.eshop.property.srv.domain.extend.ReportAdEarningsPointView">
	    select
	    	sum(amount) as love_totle_point
	    from love_detail
	    where
	      	love_type in (1,2,5,6)
	      	and biz_id=#{bizId,jdbcType=BIGINT}
	 </select>
</mapper>